
  .container-1{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
  .chat {
      height: 350px;
      width: 88vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  } 
  
  ::-webkit-input-placeholder { 
      color: .711 
      
  }
   
input{
    border: none;
}
 
  .messages {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      height: 90%;
      width: 100%;
      background-color: #41b0b5;
      padding: 15px;
      margin: 15px;
      border-radius: 10px;
  }
  
  #bot {
      margin-left: auto;
      border: none;
  }
  
  .bot {
      margin-top: 10px;
      font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco,  
      monospace;
  }
  .avatar {
	height: 25px;
}
  /* Mobile */
  
  section.section-1{
      display: flex;
      position: relative;
  }
  .chat-us{
     position: fixed;
     z-index: 3;
     right: 2rem;
     bottom: 2rem;
     background-color: #4c1775;
     border-radius: 15px;
     color: #fff;
     padding: 1rem;
  }
  
  .chat-us:hover{
      background-color: black;
  }
  
  .chat-header{
      background-color: #4c1775;
      color: #fff;
      padding: .6rem;
      border-radius: 1rem 1rem 0 0;
  }
  
  .chat-box{
      background-clip: content-box;
      position: fixed;
      z-index: 3;
      right: 2rem;
      bottom: 3rem;
      display: none;
      width: 28rem;
  }
  
  .btn-outline-success{
    background-color: #4c1775 !important;
    border-color: #4c1775 !important;
    color: #fff !important;
    padding: 1rem !important;
    margin-right: 1.5rem !important; 
    border-radius: .5rem !important;
    text-align: center !important;
    justify-content: center !important;
    font-weight: 600 !important;
    font-size: 1.5rem !important;
}
.bot{
    display: flex;
}

.sent-msg{
    background-color:#fff;
    color: rgb(0, 0, 0);
    height: 30rem;
    overflow-y: scroll;
}

.msg{
    padding: .7rem .5rem;
    border-bottom: .5px solid rgb(206, 186, 186);
}



